# maven #
target
!.mvn/wrapper/maven-wrapper.jar

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class
.apt_generated
.factorypath
.springBeans

# idea #
.idea
*.iws
*.iml
*.ipr
*.log

# Package Files #
*.jar
*.war
*.ear
/target

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
